<!DOCTYPE html>
<html>
<head>
    <title>Atlant - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" id="theme" href="/Content/css/theme-default.css" />

</head>
<body>
    <div class="page-container">
        <div class="page-sidebar page-sidebar-fixed scroll mCustomScrollbar _mCS_1 mCS-autoHide" style="height: 799px;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                    <!-- START X-NAVIGATION -->
                    <ul class="x-navigation">
                        <li class="xn-logo">
                            <a href="/">ATLANT</a>
                            <a href="#" class="x-navigation-control"></a>
                        </li>
                        <li class="xn-profile">
                            <a href="#" class="profile-mini">
                                <img src="/content/assets/images/users/no-image.jpg" alt="John Doe">
                            </a>
                            <div class="profile">
                                <div class="profile-image">
                                    <img src="/content/assets/images/users/no-image.jpg" alt="John Doe">
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">admin</div>
                                    <div class="profile-data-title">AdminManage</div>
                                </div>
                                <div class="profile-controls">
                                    <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                    <a href="#" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/"><span class="fa fa-desktop"></span> <span class="xn-text">主页</span></a>
                        </li>
                        <li class="xn-openable @(ViewBag.Active == "Game"?"active":"")">
                            <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">游戏信息</span></a>
                            <ul>
                                <li><a href="/Game/List"><span class="fa fa-align-justify"></span>游戏列表</a></li>
                                <li><a href="/Game/Add"><span class="fa fa-edit"></span>新增游戏</a></li>
                                <li><a href="/GameImages/List?type=1"><span class="fa fa-bars"></span>游戏背景</a></li>
                                <li><a href="/GameImages/List?type=2"><span class="fa fa-map-marker"></span>游戏地图</a></li>
                                <li><a href="/GameImages/List?type=3"><span class="fa fa-heart"></span>特色系统</a></li>
                                <li><a href="/GameImages/List?type=4"><span class="fa fa-info-circle"></span>英雄介绍</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Active == "Menu"?"active":"")">
                            <a href="#"><span class="fa fa-gamepad"></span> <span class="xn-text">菜单栏</span></a>
                            <ul>
                                <li><a href="/Menu/Main"><span class="fa fa-desktop"></span>主页导菜单</a></li>
                                <li><a href="/Menu/GameMenu"><span class="fa fa-align-justify"></span>游戏菜单</a></li>
                                <li><a href="/Menu/GameMenuDesc"><span class="fa fa-edit"></span>菜单内容</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Active == "News"?"active":"")">
                            <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">新闻资讯</span></a>
                            <ul>
                                <li><a href="/News/List"><span class="fa fa-align-justify"></span>新闻列表</a></li>
                                <li><a href="/News/Add"><span class="fa fa-edit"></span>添加新闻</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Active == "Partner"?"active":"")">
                            <a href="#"><span class="fa fa-table"></span> <span class="xn-text">合作伙伴</span></a>
                            <ul>
                                <li><a href="/Partner/List"><span class="fa fa-align-justify"></span>合作伙伴列表</a></li>
                                <li><a href="/Partner/Add"><span class="fa fa-edit"></span>合作伙伴添加</a></li>
                            </ul>
                        </li>
                        <li class="xn-openable @(ViewBag.Active == "Private"?"active":"")">
                            <a href="#"><span class="fa fa-tags"></span> <span class="xn-text">隐私页</span></a>
                            <ul>
                                <li><a href="/Private/List"><span class="fa fa-align-justify"></span>列表</a></li>
                                <li><a href="/Private/Add"><span class="fa fa-edit"></span>添加</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- END X-NAVIGATION -->
                </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 612px; top: 0px; display: block; max-height: 789px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
            </div>
        </div>
        <div class="page-content">
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- POWER OFF -->
                <li class="xn-icon-button pull-right last">
                    <a href="/Login/SignOut"><span class="fa fa-power-off"></span></a>
                    <ul class="xn-drop-left animated zoomIn">
                        <li><a href="/Login/SignOut" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span> Sign Out</a></li>
                    </ul>
                </li>
                <!-- END POWER OFF -->
            </ul>

            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="/Scripts/plugins/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/Scripts/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/bootstrap/bootstrap.min.js"></script>

    <script type='text/javascript' src='/Scripts/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="/Scripts/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>


    <script type="text/javascript" src="/Scripts/plugins.js"></script>
    <script type="text/javascript" src="/Scripts/actions.js"></script>
    <script>
        $(function () {
            //Spinner
            $(".spinner_default").spinner()
            $(".spinner_decimal").spinner({ step: 0.01, numberFormat: "n" });
            //End spinner
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
