
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>杭州匀腾网络科技有限公司</title>
    <meta name="keywords" content="匀腾,匀腾游戏,匀腾网络,杭州匀腾,灵文对决,游戏开发商,点点萌萌哒,winturn,zjwinturn" />
    <meta name="description" content="杭州匀腾游戏是始终以事业长期发展为目标的游戏创始团队，本着创新开拓精神完成了《灵文对决》、《点点萌萌哒》、《魔幻双消》、《AT英雄》等TCG,CCG,多款集换式卡牌手机网络游戏。" />
    <link rel="stylesheet" href="~/Content/css/default/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="/Scripts/default/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/default/jquery.touchSlider.js"></script>
    <script type="text/javascript" src="/Scripts/default/index.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-inner">
            <img src="/content/images/cloud-logo.png" alt="" class="cloud-logo">
            <ul class="u-header">
                @foreach (var item in ViewBag.Menu)
                {
                    <li class="l-header">
                        <a href="@(!string.IsNullOrEmpty(item.Url) ? item.Url : ("/MenuInfo/Info?MenuId=" + item.Id))">@item.Name</a>
                        @{ var list = GameCenter.Core.Service.MenuService.GetList(item.Id, item.GameId);}
                        @if (list.Count > 0)
                        {
                            <div class="sub-news-head">
                                @foreach (var child in list)
                                {
                                    <a href="@child.Url">@child.Name</a>
                                }
                            </div>
                            <span class="sub-more-icon"></span>
                        }
                    </li>
                            }
            </ul>
        </div>
    </div>
    <div class="main_visual">
        <div class="flicking_con">
            @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage0))
            {<a href="#">1</a> }
            @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage1))
            {<a href="#">2</a> }
            @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage2))
            {<a href="#">3</a> }
            @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage3))
            {<a href="#">4</a> }
        </div>
        <div class="main_image">
            <ul>
                @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage0))
                {
                    <li><a href="@ViewBag.MainBgImages.BgImageUrl0" target="_blank"><img src="@(GameCenter.Core.Common.Domain.GetImage(ViewBag.MainBgImages.BgImage0))" /></a></li>
                }
                @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage1))
                {
                    <li><a href="@ViewBag.MainBgImages.BgImageUrl1" target="_blank"><img src="@(GameCenter.Core.Common.Domain.GetImage(ViewBag.MainBgImages.BgImage1))" /></a></li>
                }
                @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage2))
                {
                    <li><a href="@ViewBag.MainBgImages.BgImageUrl2" target="_blank"><img src="@(GameCenter.Core.Common.Domain.GetImage(ViewBag.MainBgImages.BgImage2))" /></a></li>
                }
                @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage3))
                {
                    <li><a href="@ViewBag.MainBgImages.BgImageUrl3" target="_blank"><img src="@(GameCenter.Core.Common.Domain.GetImage(ViewBag.MainBgImages.BgImage3))" /></a></li>
                }
            </ul>
            <a href="javascript:;" id="btn_prev" class="arrow"></a>
            <a href="javascript:;" id="btn_next" class="arrow"></a>
        </div>
    </div>
    <div class="middle">
        <div class="pos">
            <div class="wrap clearfix"> 
                @foreach (var item in ViewBag.ImageNews)
                {
                    <div class="fl">
                        <img src="@(GameCenter.Core.Common.Domain.ImageBig(item.ImagePath))" alt="" width="350">
                        @*<a href="/News/Info?id=@item.Id"><img src="@(GameCenter.Core.Common.Domain.GetImage(item.ImagePath.Replace("small","big")))" alt="" width="390" height="320"></a>*@
                    </div>
                }
                <div class="news fl" style="width:480px;height:320px;">
                    <ul>
                        <h3>
                            <a href="/News/Info?Id=@ViewBag.HotNews.Id"> @ViewBag.HotNews.Title</a>
                            <!-- 新加的链接 -->
                            <a href="/News" class="news-list">
                                <img src="/content/images/default/news.png" alt="">
                            </a>
                        </h3>
                        @foreach (var item in ViewBag.News)
                        {
                            <li><a href="/News/Info?id=@item.Id">@item.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="hot wrap clearfix">
        <h3><i></i>热点手游</h3>
        @{ var count = 1;
            foreach (var item in ViewBag.Games)
            {
                <div class="game" style='@(count % 2 == 0 ? "margin:0 5%" : "")'>
                    <img src="@(GameCenter.Core.Common.Domain.GetImage(item.ImagePath))" alt="@item.Name" width="400" height="176">
                    <div class="text">
                        <h4>@(item.Name)<a href="@("http://"+item.Code+".zjwinturn.com")" class="enter">进入官网</a></h4>
                        <p>@(item.Desc)</p>
                    </div>
                </div>
                count++;
            }
        }
    </div>
    <div class="footer">
        <div class="wrap">
            <p><a href="/Partner">合作伙伴</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Map">网站地图</a></p>
            <p>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活</p>
            <p><i></i>COPYRIGHT © 2016 杭州匀腾网络科技有限公司 ALL RIGHTS RESERVED</p>
            <p>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602006168">
                    <img src="~/Content/images/beian.png" />浙公网安备 33010602006168号
                </a>
            </p>
            <p>浙ICP备15004001号-1</p>
        </div>
    </div>
     
</body>
</html>