
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>匀腾游戏首页</title>
    <link rel="stylesheet" href="~/Content/css/default/style.css">
    <script type="text/javascript" src="/Scripts/default/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/default/jquery.touchSlider.js"></script>
    <script type="text/javascript" src="/Scripts/default/index.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-inner">
            <img src="/content/images/cloud-logo.png" alt="" class="cloud-logo">
            <ul class="u-header">
                @foreach (var item in ViewBag.Menu)
                {
                    <li class="l-header">
                        <a href="@(!string.IsNullOrEmpty(item.Url) ? item.Url : ("/MenuInfo/Info?MenuId=" + item.Id))">@item.Name</a>
                        @{ var list = GameCenter.Core.Service.MenuService.GetList(item.Id, item.GameId);}
                        @if (list.Count > 0)
                        {
                            <div class="sub-news-head">
                                @foreach (var child in list)
                                {
                                    <a href="@child.Url">@child.Name</a>
                                }
                            </div>
                            <span class="sub-more-icon"></span>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="main_visual">
        <div class="flicking_con">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
        </div>
        <div class="main_image">
            <ul>
                @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage0))
                {
                    <li><a href="#"><img src="@(GameCenter.Core.Common.Domain.GetImage(ViewBag.MainBgImages.BgImage0))" /></a></li>
                }
                @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage1))
                {
                    <li><a href="#"><img src="@(GameCenter.Core.Common.Domain.GetImage(ViewBag.MainBgImages.BgImage1))" /></a></li>
                }
                @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage2))
                {
                    <li><a href="#"><img src="@(GameCenter.Core.Common.Domain.GetImage(ViewBag.MainBgImages.BgImage2))" /></a></li>
                }
                @if (!string.IsNullOrEmpty(ViewBag.MainBgImages.BgImage3))
                {
                    <li><a href="#"><img src="@(GameCenter.Core.Common.Domain.GetImage(ViewBag.MainBgImages.BgImage3))" /></a></li>
                }
            </ul>
            <a href="javascript:;" id="btn_prev" class="arrow"></a>
            <a href="javascript:;" id="btn_next" class="arrow"></a>
        </div>
    </div>
    <div class="middle">
        <div class="pos">
            <div class="wrap clearfix">
                @foreach (var item in ViewBag.ImageNews)
                {
                    <div class="fl">
                        @*<img src="@(GameCenter.Core.Common.Domain.GetImage(item.ImagePath))" alt="" width="350">*@
                        <a href="/News/Info?id=@item.Id"><img src="/content/images/default/mid_1.jpg" alt="" width="335"></a>
                    </div>
                }
                <div class="news fl" style="width:30.3%;">
                    <ul>
                        <h3>
                            <a href="/News/Info?Id=@ViewBag.HotNews.Id"> @ViewBag.HotNews.Title</a>
                            <!-- 新加的链接 -->
                            <a href="/News" class="news-list">
                                <img src="/content/images/default/news.png" alt="">
                            </a>
                        </h3>
                        @foreach (var item in ViewBag.News)
                        {
                            <li><a href="/News/Info?id=@item.Id">@item.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="hot wrap clearfix">
        <h3><i></i>热点手游</h3>
        @{ var count = 1;
            foreach (var item in ViewBag.Games)
            {
                <div class="game" style='@(count % 2 == 0 ? "margin:0 5%" : "")'>
                    <img src="@(GameCenter.Core.Common.Domain.GetImage(item.ImagePath))" alt="@item.Name" width="228" height="97">
                    <div class="text">
                        <h4>@(item.Name)<a href="" class="enter">进入官网</a></h4>
                        <p>@(item.Desc)</p>
                    </div>
                </div>
                count++;
            }
        }
    </div>
    <div class="footer">
        <div class="wrap">
            <p><a href="/Partner">合作伙伴</a></p>
            <p>健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活</p>
            <p><i></i>COPYRIGHT © 2016 杭州匀腾网络科技有限公司 ALL RIGHTS RESERVED</p>
        </div>
    </div>
    <script>
        var h = $('.middle img').height();
        $('.news').css("height", h);
        $(window).resize(function (event) {
            var h = $('.middle img').height();
            $('.news').css("height", h);
        });
    </script>
</body>
</html>