
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="cloud-banner">
    <div class="cloud-type">新闻中心</div>
</div>
<div class="main">
    <div class="main-content main-content-comprehensive">
        <ul class="u-content-type">
            <li class="l-content-type sel">综合</li>
            <li class="l-content-type">新闻</li>
            <li class="l-content-type">公告</li>
            <li class="l-content-type">活动</li>
        </ul>
        <div class="d-lists-wrap">
            <ul class="u-content-lists  u-comprehensive">
                @foreach (var item in ViewBag.Type1)
                {
                    <li class="l-content-list">
                        <span class="list-title"><a href="/News/Info?id=@item.Id">@item.Title</a></span>
                        <span class="list-time">@item.CreateTime.ToString("yyyy年MM月dd日")</span>
                    </li>
                } 
            </ul>
            <ul class="u-content-lists  u-news">
                @foreach (var item in ViewBag.Type2)
                {
                    <li class="l-content-list">
                        <span class="list-title"><a href="/News/Info?id=@item.Id">@item.Title</a></span>
                        <span class="list-time">@item.CreateTime.ToString("yyyy年MM月dd日")</span>
                    </li>
                } 
            </ul>
            <ul class="u-content-lists  u-report">
                @foreach (var item in ViewBag.Type3)
                {
                    <li class="l-content-list">
                        <span class="list-title"><a href="/News/Info?id=@item.Id">@item.Title</a></span>
                        <span class="list-time">@item.CreateTime.ToString("yyyy年MM月dd日")</span>
                    </li>
                } 
            </ul>
            <ul class="u-content-lists  u-acti">
                @foreach (var item in ViewBag.Type4)
                {
                    <li class="l-content-list">
                        <span class="list-title"><a href="/News/Info?id=@item.Id">@item.Title</a></span>
                        <span class="list-time">@item.CreateTime.ToString("yyyy年MM月dd日")</span>
                    </li>
                } 
            </ul>
        </div>
    </div>
    <div class="main-sidebar">
        <a href="" class="acti-href"><img src="/content/images/right_pic.png" alt=""></a>
        <a href="" class="acti-href"><img src="/content/images/right_pic_2.png" alt=""></a>
        <a href="" class="acti-href"><img src="/content/images/right_pic_3.png" alt=""></a>
    </div>
</div>

@section scripts{
<script>
		$(function(){
			var typeArr = ['main-content-comprehensive', 'main-content-news', 'main-content-report', 'main-content-acti'];
			var $obj = $(".main-content");
			$(document).on("click", ".u-content-type .l-content-type", function(){
				if($(this).hasClass("sel")) return;
				$(this).addClass("sel").siblings(".sel").removeClass("sel");
				$obj.removeClass(typeArr.join(" ")).addClass(typeArr[$(this).index()]);
			})
		})
</script>
}