@model  List<GameCenter.Entity.Dto.DtoNews>
@using GameCenter.Core.Service;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var newsType = NewsTypeService.GetTypeCacheList();
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-heading">
            <h3 class="panel-title">新闻列表</h3>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="get" action="?">
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                    <input type="text" class="form-control" placeholder="新闻标题" name="Title" value="@ViewBag.NewsForm.Title" />
                                </div>
                            </div>

                            <label class="col-md-3 col-xs-12 control-label">新闻类型</label>
                            <div class="col-md-2 col-xs-12">
                                <select class="form-control select" name="NewsType" id="NewsType">
                                    <option value="0">全部类型</option>
                                    @foreach (var item in newsType)
                                    {
                                        <option value="@item.Id" @(item.Id == ViewBag.NewsForm.NewsType ? "selected" : "")>@item.Name</option>
                                    }
                                </select>
                                <span class="help-block"></span>
                            </div>

                            <div class="col-md-4">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-success"><span class="fa fa-refresh"></span> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-hover" id="DataTables_Table_0">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>新闻标题</th>
                            <th>新闻标签</th>
                            <th>新闻作者</th>
                            <th>创建时间</th>
                            <th>新闻类型</th>
                            <th>设置</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title</td>
                                <td>@item.Tag</td>
                                <td>@item.Author</td>
                                <td>@item.CreateTime.ToString("yyyy-MM-dd")</td>
                                <td>@item.NewsTypeName</td>
                                <td>
                                    <a href="/News/Edit?id=@item.Id" class="btn btn-rounded">修改</a>
                                    <a href="/News/Delete?id=@item.Id " class="btn btn-rounded">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            @Html.Raw(ViewBag.PageHtml)
        </div>

    </div>

</div>
@section scripts{
    <script type="text/javascript" src="/Scripts/plugins/bootstrap/bootstrap-select.js"></script>
}
