@model  List<GameCenter.Entity.Dto.DtoPrivatePage>
@using GameCenter.Core.Service;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> 隐私列表</h2>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-hover" id="DataTables_Table_0">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>游戏名称</th>
                            <th>官方微信</th>
                            <th>官方QQ</th>
                            <th>渠道</th>
                            <th>设置</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.GameName</td>
                                <td>@item.Weixin</td>
                                <td>@item.QQ</td>
                                <td>@item.ChannelName</td>
                                <td>
                                    <a href="/Private/Edit?id=@item.Id" class="btn btn-rounded">修改</a>
                                    <a href="/Private/Delete?id=@item.Id " class="btn btn-rounded">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            @Html.Raw(ViewBag.PageHtml)
        </div>

    </div>

</div>
@section scripts{
    <script type="text/javascript" src="/Scripts/plugins/bootstrap/bootstrap-select.js"></script>
}
