@{
    ViewBag.Title = "新闻中心";
}
<div class="ling-banner">
    <div class="ling-type">新闻中心</div>
</div>
<div class="ling-newslist">
    <div class="main">
        <div class="main-content main-content-comprehensive">
            <ul class="u-content-type">
                <li class="l-content-type sel">综合</li>
                <li class="l-content-type">新闻</li>
                <li class="l-content-type">公告</li>
                <li class="l-content-type">活动</li>
            </ul>
            <div class="d-lists-wrap">
                <ul class="u-content-lists  u-comprehensive">
                    @foreach (var item in ViewBag.News1)
                    {
                        <li class="l-content-list">
                            <span class="list-title"><a href="/News/Info?id=@item.Id">@item.Title</a></span>
                            <span class="list-time">@item.CreateTime.ToString("yyyy年MM月dd日")</span>
                        </li>
                    }
                </ul>
                <ul class="u-content-lists  u-news">
                    @foreach (var item in ViewBag.News2)
                    {
                        <li class="l-content-list">
                            <span class="list-title"><a href="/News/Info?id=@item.Id">@item.Title</a></span>
                            <span class="list-time">@item.CreateTime.ToString("yyyy年MM月dd日")</span>
                        </li>
                    }
                </ul>
                <ul class="u-content-lists  u-report">
                    @foreach (var item in ViewBag.News3)
                    {
                        <li class="l-content-list">
                            <span class="list-title"><a href="/News/Info?id=@item.Id">@item.Title</a></span>
                            <span class="list-time">@item.CreateTime.ToString("yyyy年MM月dd日")</span>
                        </li>
                    }
                </ul>

                <ul class="u-content-lists  u-acti">
                    @foreach (var item in ViewBag.News4)
                    {
                        <li class="l-content-list">
                            <span class="list-title"><a href="/News/Info?id=@item.Id">@item.Title</a></span>
                            <span class="list-time">@item.CreateTime.ToString("yyyy年MM月dd日")</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
<<<<<<< HEAD
 
=======
   
>>>>>>> acb01999979830e662a5d4ffe398c8fb480c2e9e
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script>
        $(function () {
            var typeArr = ['main-content-comprehensive', 'main-content-news', 'main-content-report', 'main-content-acti'];
            var $obj = $(".main-content");
            $(document).on("click", ".u-content-type .l-content-type", function () {
                if ($(this).hasClass("sel")) return;
                $(this).addClass("sel").siblings(".sel").removeClass("sel");
                $obj.removeClass(typeArr.join(" ")).addClass(typeArr[$(this).index()]);
            })
        })
    </script>
}