
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> 修改游戏</h2>
</div>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <!-- START VALIDATIONENGINE PLUGIN -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="validate" method="post" class="form-horizontal" action="/Game/EditForm" enctype="multipart/form-data">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏名称:</label>
                            <div class="col-md-9">
                                <input type="text" name="Name" value="@Model.Name" class="validate[required] form-control" id="form-validation-field-0">
                                <span class="help-block">不能为空,最大不能超过16个汉子</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏缩写:</label>
                            <div class="col-md-9">
                                <input type="text" name="Code" value="@Model.Code" class="validate[required] form-control" id="form-validation-field-1">
                                <span class="help-block">不能为空,最大不能超过16个汉子</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <a class="file-input-wrapper btn btn-default  fileinput btn-danger">
                                    <input type="file" class="fileinput btn-danger" name="Filedata" id="form-validation-field-3" data-filename-placement="inside" title="@(string.IsNullOrEmpty(Model.ImagePath)? "选择游戏封面图片" :Model.ImagePath)" />
                                </a>
                                <input type="hidden" name="ImagePath" value="@Model.ImagePath" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">是否置顶:</label>
                            <div class="col-md-9">
                                <input type="checkbox" name="top" value="true" @(Model.Top ? "checked" : "" ) />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏简要介绍:</label>
                            <div class="col-md-10">
                                <textarea class="form-control" name="Desc" rows="5" placeholder="游戏简要介绍,建议在50字内......" id="form-validation-field-2">@Model.Desc</textarea>
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-primary" type="button" onclick="$('#validate').validationEngine('hide');">隐藏提示</button>
                            <button class="btn btn-primary" type="submit" id="gameSubmit">确认提交</button>
                        </div>

                    </form>

                </div>
            </div>
            <!-- END VALIDATIONENGINE PLUGIN -->

        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> <p>错误提示!</p></div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">关闭</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type='text/javascript' src='/Scripts/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js'></script>
    <script type='text/javascript' src='/Scripts/plugins/validationengine/jquery.validationEngine.js'></script>
    <script type='text/javascript' src='/Scripts/plugins/jquery-validation/jquery.validate.js'></script>
    <script type="text/javascript" src="/Scripts/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jqueryform/jquery.form.js"></script>
    <script type="text/javascript">
        $('#validate').ajaxForm({
            url: '/Game/EditForm',
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.status) {
                    window.location.href = "/Game/List";
                } else {
                    $('#message-box-sound-2 .fa-times').next().html('');
                    $('#message-box-sound-2 .fa-times').next().html(data.msg);
                    $('#message-box-sound-2').addClass('open')
                }
            }
        });
    </script>
}