@model GameCenter.Entity.Data.GameInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> 修改【@ViewBag.GameInfo.Name】详情</h2>
</div>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <!-- START VALIDATIONENGINE PLUGIN -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="validate" method="post" class="form-horizontal" action="/GameInfo/EditInfo" enctype="multipart/form-data">
                        <input type="hidden" name="GameId" value="@(Model.Id > 0 ? Model.GameId : ViewBag.GameId)" />
                        <input type="hidden" name="Id" value="@Model.Id" />

                        <div class="form-group">
                            <label class="col-md-2 control-label">App Store地址:</label>
                            <div class="col-md-6">
                                <input type="text" name="IosDl" value="@Model.IosDl" class="validate[required] form-control" id="form-validation-field-1">
                                <span class="help-block">App Store地址不能为空,下载地址带上https://</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏版本:</label>
                            <div class="col-md-2">
                                <input type="text" name="Version" value="@Model.Version" class="validate[required] form-control" id="form-validation-field-2">
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">安卓Apk上传:</label>
                            <div class="col-md-6">
                                <input type="file" name="AndriodDlFileData" title="12312" />
                                <input type="hidden" name="AndriodDl" value="@Model.AndriodDl" />
                                <input type="hidden" name="FileName" value="@Model.FileName" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏Logo:</label>
                            <div class="col-md-4">
                                <input type="file" name="LogoFileData" accept="image/*" />
                                <input type="hidden" name="Logo" value="@Model.Logo" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏二维码</label>
                            <div class="col-md-4">
                                <input type="file" name="QrCodeImageFileData" accept="image/*" />
                                <input type="hidden" name="QrCodeImage" value="@Model.QrCodeImage" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">背景图片</label>
                            <div class="col-md-4">
                                <input type="file" name="BgImage0FileData" accept="image/*" />
                                <input type="hidden" name="BgImage0" value="@Model.BgImage0" />
                            </div>
                            <div class="col-md-4">
                                <input type="file" name="BgImage1FileData" accept="image/*" />
                                <input type="hidden" name="BgImage1" value="@Model.BgImage1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-4">
                                <input type="file" name="BgImage2FileData" accept="image/*" />
                                <input type="hidden" name="BgImage2" value="@Model.BgImage2" />
                            </div>
                            <div class="col-md-4">
                                <input type="file" name="BgImage3FileData" accept="image/*" />
                                <input type="hidden" name="BgImage3" value="@Model.BgImage3" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-4">
                                <span class="help-block">备注：图片规格大小1920×1062</span>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-md-2 control-label">焦点图</label>
                            <div class="col-md-4">
                                <input type="file" name="FocusImage0FileData" accept="image/*" />
                                <input type="hidden" name="FocusImage0" value="@Model.FocusImage0" />
                            </div>
                            <div class="col-md-4">
                                <input type="file" name="FocusImage1FileData" accept="image/*" />
                                <input type="hidden" name="FocusImage1" value="@Model.FocusImage1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-4">
                                <input type="file" name="FocusImage2FileData" accept="image/*" />
                                <input type="hidden" name="FocusImage2" value="@Model.FocusImage2" />
                            </div>
                            <div class="col-md-4">
                                <input type="file" name="FocusImage3FileData" accept="image/*" />
                                <input type="hidden" name="FocusImage3" value="@Model.FocusImage3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-4">
                                <span class="help-block">备注：图片规格大小490×320</span>
                            </div>
                        </div> 

                        <div class="btn-group pull-right">
                            <button class="btn btn-primary" type="button" onclick="$('#validate').validationEngine('hide');">隐藏提示</button>
                            <button class="btn btn-primary" type="submit" id="gameSubmit">确认提交</button>
                        </div>
                    </form>

                </div>
            </div>
            <!-- END VALIDATIONENGINE PLUGIN -->

        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> <p>错误提示!</p></div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">关闭</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type='text/javascript' src='/Scripts/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js'></script>
    <script type='text/javascript' src='/Scripts/plugins/validationengine/jquery.validationEngine.js'></script>
    <script type='text/javascript' src='/Scripts/plugins/jquery-validation/jquery.validate.js'></script>
    <script type='text/javascript' src="~/Scripts/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type='text/javascript' src="/Scripts/plugins/fileinput/fileinput.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jqueryform/jquery.form.js"></script>
    <script type="text/javascript">
        $('#validate').ajaxForm({
            url: '/GameInfo/EditInfo',
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.status) {
                    window.location.href = "/Game/List";
                } else {
                    $('#message-box-sound-2 .fa-times').next().html('');
                    $('#message-box-sound-2 .fa-times').next().html(data.msg);
                    $('#message-box-sound-2').addClass('open')
                }
            }
        });
    </script>

    <script type="text/javascript">
        $("input[type=file]").not("input[name=AndriodDlFileData]").fileinput({
            showUpload: false,
            showRemove: true,
            showCaption: false,
            autoReplace: true,
            uploadUrl: '/GameInfo/UploadFile',
            uploadRightNow: true,
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            maxFileSize: 2000,
            maxFilesCount: 1,
            allowedFileTypes: ['image'],
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            //language: 'zh',
            slugCallback: function (filename) {
                return filename.replace(/\(|\)|\[|\]/g, '_');
            }
        });

        $('input[type=file]').not("input[name=AndriodDlFileData]").on('fileuploaded', function (data, r, a) {
            var _this = $(this);
            var hiddenInputName = _this.attr("name").replace("FileData", "");
            $("input[name=" + hiddenInputName + "]").val(r.response.filename);
        });

        $("input[name=AndriodDlFileData]").fileinput({
            showUpload: false,
            showRemove: true,
            showCaption: true,
            //autoReplace: true,
            uploadUrl: '/GameInfo/UploadFile',
            uploadRightNow: true,
            //allowedFileExtensions: ['apk'],
            //maxFileSize: 2000,
            maxFilesCount: 1,
            //allowedFileTypes: ['image'],
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            showPreview: false,
            //language: 'zh',
            slugCallback: function (filename) {
                return filename.replace(/\(|\)|\[|\]/g, '_');
            }
        });

        $("input[name=AndriodDlFileData]").on('fileuploaded', function (data, r, a) {
            var _this = $(this);
            var hiddenInputName = _this.attr("name").replace("FileData", "");
            $("input[name=" + hiddenInputName + "]").val(r.response.filename);
            $("input[name=FileName]").val(r.response.name);

        });



        $("input[type=file]").fileinput('refresh', {
            refreshCallback: function ($el) {
                var imagepath = $($el).closest('.file-input').next().val();
                var previewHtml = '';
                if (imagepath != '') {
                    previewHtml = '<div class="file-preview">' +
                        '<div class="file-drop-zone">' +
                        '<div class="file-preview-thumbnails">' +
                        '<img src="@GameCenter.Core.Common.Domain._imageSite' + imagepath + '" style="width:auto;height:160px;">' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                }
                return {
                    initialPreview: previewHtml
                };
            }
        });
    </script>
}