@model GameCenter.Entity.Data.GameInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> 修改游戏</h2>
</div>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <!-- START VALIDATIONENGINE PLUGIN -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="validate" method="post" class="form-horizontal" action="/Game/EditForm" enctype="multipart/form-data">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">安卓下载地址:</label>
                            <div class="col-md-9">
                                <input type="text" name="AndriodDl" value="@Model.AndriodDl" class="validate[required] form-control" id="form-validation-field-0">
                                <span class="help-block">安卓下载地址不能为空,下载地址带上http://</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">App Store地址:</label>
                            <div class="col-md-9">
                                <input type="text" name="IosDl" value="@Model.IosDl" class="validate[required] form-control" id="form-validation-field-1">
                                <span class="help-block">App Store地址不能为空,下载地址带上https://</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏Logo:</label>
                            <div class="col-md-3">
                                <input type="file" name="LogoFileData" />
                                <input type="hidden" name="Logo" value="@Model.Logo" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">游戏二维码</label>
                            <div class="col-md-3">
                                <input type="file" name="QrCodeImageFileData" />
                                <input type="hidden" name="Logo" value="@Model.QrCodeImage" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">背景图片</label>
                            <div class="col-md-4">
                                <input type="file" name="BgImage0FileData" multiple accept="image/*" />
                                <input type="hidden" name="BgImage0FileData" value="@Model.BgImage0" />
                            </div>
                            <div class="col-md-4">
                                <input type="file" name="BgImage0FileData" multiple accept="image/*" />
                                <input type="hidden" name="BgImage1FileData" value="@Model.BgImage1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label"></label>
                            <div class="col-md-4">
                                <input type="file" name="BgImage0FileData" multiple accept="image/*" />
                                <input type="hidden" name="BgImage2FileData" value="@Model.BgImage2" />
                            </div>
                            <div class="col-md-4">
                                <input type="file" name="BgImage0FileData" multiple accept="image/*" />
                                <input type="hidden" name="BgImage3FileData" value="@Model.BgImage3" />
                            </div>
                        </div>

                        <div class="btn-group pull-right">
                            <button class="btn btn-primary" type="button" onclick="$('#validate').validationEngine('hide');">隐藏提示</button>
                            <button class="btn btn-primary" type="submit" id="gameSubmit">确认提交</button>
                        </div> 
                    </form>

                </div>
            </div>
            <!-- END VALIDATIONENGINE PLUGIN -->

        </div>
    </div>
</div>
<div class="message-box message-box-danger animated fadeIn" data-sound="fail" id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> <p>错误提示!</p></div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close">关闭</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type='text/javascript' src='/Scripts/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js'></script>
    <script type='text/javascript' src='/Scripts/plugins/validationengine/jquery.validationEngine.js'></script>
    <script type='text/javascript' src='/Scripts/plugins/jquery-validation/jquery.validate.js'></script>
    <script type='text/javascript' src="~/Scripts/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type='text/javascript' src="/Scripts/plugins/fileinput/fileinput.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/jqueryform/jquery.form.js"></script>
    <script type="text/javascript">
        $('#validate').ajaxForm({
            url: '/Game/EditForm',
            type: "POST",
            dataType: "json",
            success: function (data) {
                if (data.status) {
                    window.location.href = "/Game/List";
                } else {
                    $('#message-box-sound-2 .fa-times').next().html('');
                    $('#message-box-sound-2 .fa-times').next().html(data.msg);
                    $('#message-box-sound-2').addClass('open')
                }
            }
        });
    </script>

    <script type="text/javascript">
        $("input[type=file]").fileinput({
            showUpload: true,
            showRemove: true,
            showCaption: false,
            //autoReplace: true,
            uploadUrl: '/GameInfo/Uplaod',
            uploadRightNow: true,
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            maxFileSize: 2000,
            maxFilesCount: 1,
            allowedFileTypes: ['image'],
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            language: 'zh',
            slugCallback: function (filename) {
                //$('#preview,[type=submit],#goto-sub').prop('disabled', 'disabled');

                //return filename.replace(/\(|\)|\[|\]/g, '_');
            }
        });




    </script>
}